<p>Para empezar a usar la página web, lo primero que debes hacer es crear una cuenta, que se guardará en la base de datos.</p>
<img src="./../../../assets/images/help1.png" alt="">
<br>
<br>
<p>Si ya tienes una cuenta creada, solo tendras que meter el correo electrónico y la contraseña.</p>
<img src="./../../../assets/images/help2.png" alt="">
<br>
<br>
<p>Una vez el usuario este registrado, le aparecerán las categorías disponibles.</p>
<img src="./../../../assets/images/help3.png" alt="">
<br>
<br>
<p>Cuando selecciones una de las categorías, le apareceran los productos disponibles.</p>
<img src="./../../../assets/images/help4.png" alt="">
<br>
<br>
<p>Al pulsar el botón comprar, te trasladará a la página donde este disponible el producto.</p>
<img src="./../../../assets/images/help5.png" alt="">
<br>
<br>
<p>Y para salir, lo único que debes hacer es dar a cerrar sesión, y te llevara a la página del principio.</p>
<img src="./../../../assets/images/help6.png" alt="">
<br>
<br>
