<div class="text-center">
  <h1>Datos de contacto:</h1>
  <br>
</div>
    <h4>
      <img src="./../../../../assets/images/carne-de-identidad.png" alt=""> Nombre de la empresa: Buyproducts
    </h4>
    <br>
    <h4>
      <img src="./../../../../assets/images/telephone.png" alt=""> Teléfono de la empresa: 634594020
    </h4>
    <br>
    <h4>
      <img src="./../../../../assets/images/gmail.png" alt=""> Correo electrónico de la empresa: aitor.tercero@cesjuanpablosegundo.es
    </h4>
    <br>
    <h4>
      <img src="./../../../../assets/images/map.png" alt=""> Dirección de la empresa: C. Estocolmo, 1 Bis, 28922 Alcorcón, Madrid
    </h4>
    <br>
    <h4>
      <img src="./../../../../assets/images/instagram.png" alt="">
        <a href="https://www.instagram.com/buyproducts767/" target="_blank"> Instagram</a>
    </h4>

