<p>En este sitio web se muestran las distintas categorías y sus diferentes productos que estarían disponibles para su compra online. Para ello es imprescindible crear una cuenta, que quedará registrada en nuestra base de datos, y así será más fácil acceder en las próximas visitas, introduciendo su correo elctrónico y su contraseña.</p>
<br>
<p>Dentro de cada una de las categorías están detallados todos los productos disponibles, sus características (con una imagen del producto, así como el precio correspondiente) y permite al usuario poder adquirir el artículo siguiendo unos sencillos pasos.</p>
<br>
<div class="text-center">
  <img src="./../../../assets/images/home1.jpg" alt="">
</div>
<br>
<p>El sitio web ofrece una gran variedad de marcas, modelos, tallas y colores de cada uno de nuestros productos a disposición de nuestros clientes.</p>
<br>
<p>En la gran mayoría de nuestros productos, en el momento de la compra, podemos observar una descripción detallada de las características del artículo que se pretende adquirir.</p>
<br>
<div class="text-center">
  <img src="./../../../assets/images/home2.jpg" alt="">
</div>
<br>
